.u-section-1 .u-sheet-1 {
  min-height: 254px;
}

.u-section-1 .u-btn-1 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: -60px 2244px 0 -1104px;
  padding: 0 48px 0 47px;
}

.u-section-1 .u-btn-2 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: -60px 2244px 0 -1104px;
  padding: 0 69px 0 67px;
}

.u-section-1 .u-group-elements-1 {
  width: 252px;
  min-height: 106px;
  margin: -503px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 0 auto 0 0;
  padding: 0 48px 0 47px;
}

.u-section-1 .u-btn-4 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 20px auto 0 0;
  padding: 0 69px 0 67px;
}

.u-section-1 .u-group-elements-2 {
  width: 0;
  min-height: 0;
  margin: -60px 2244px 0 auto;
}

.u-section-1 .u-btn-5 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 503px auto 0 1950px;
  padding: 0 48px 0 47px;
}

.u-section-1 .u-btn-6 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 20px auto 0 1950px;
  padding: 0 69px 0 67px;
}

.u-section-1 .u-image-1 {
  width: 995px;
  height: 426px;
  margin: 499px auto 0;
}

.u-section-1 .u-image-2 {
  width: 768px;
  height: 373px;
  margin: -399px auto 0;
}

.u-section-1 .u-group-elements-3 {
  width: 252px;
  min-height: 106px;
  margin: -102px auto 39px 805px;
}

.u-section-1 .u-btn-7 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 0 auto 0 0;
  padding: 0 48px 0 47px;
}

.u-section-1 .u-btn-8 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 20px auto 0 0;
  padding: 0 69px 0 67px;
}

.u-section-1 .u-btn-9 {
  border-style: none none solid;
  font-family: LEMONMILK-Regular;
  margin: -48px 18px 44px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 2144px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 2044px;
  }

  .u-section-1 .u-group-elements-2 {
    height: auto;
    margin-right: 2044px;
  }

  .u-section-1 .u-image-1 {
    height: 402px;
    margin-top: -75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -375px;
  }

  .u-section-1 .u-group-elements-3 {
    height: auto;
    margin-top: -121px;
    margin-bottom: 43px;
    margin-left: 688px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 2034px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 1824px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: 1824px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 350px;
    margin-top: -358px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -116px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 1944px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 1644px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: 1644px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -106px;
    margin-right: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-right: 1844px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 1444px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 252px;
    min-height: 106px;
    margin-top: 351px;
    margin-right: -1862px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 25px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 187px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 141px;
    width: 281px;
    margin-top: -162px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: -85px;
    margin-right: -24px;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 508px;
}

.u-section-2 .u-group-elements-1 {
  width: 0;
  min-height: 0;
  margin: -291px 1787px 0 auto;
}

.u-section-2 .u-btn-1 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 396px auto 0 1628px;
  padding: 0 21px 0 19px;
}

.u-section-2 .u-btn-2 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 11px auto 0 1628px;
  padding: 0 35px 0 34px;
}

.u-section-2 .u-image-1 {
  width: 995px;
  height: 429px;
  margin: 320px auto 0 84px;
}

.u-section-2 .u-image-2 {
  width: 846px;
  height: 445px;
  margin: -445px auto 0 114px;
}

.u-section-2 .u-group-elements-2 {
  width: 252px;
  min-height: 106px;
  margin: -136px 72px 60px auto;
}

.u-section-2 .u-btn-3 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 0 auto 0 0;
  padding: 0 48px 0 47px;
}

.u-section-2 .u-btn-4 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 20px auto 0 0;
  padding: 0 69px 0 67px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-group-elements-1 {
    height: auto;
    margin-right: 1587px;
  }

  .u-section-2 .u-image-1 {
    height: 405px;
    margin-top: -167px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: -413px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-2 {
    height: auto;
    margin-top: -158px;
    margin-right: auto;
    margin-left: 676px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-top: 2px;
    margin-right: 1367px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
    margin-top: -450px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    width: 613px;
    height: 379px;
    margin-top: -347px;
    margin-left: 37px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: -151px;
    margin-bottom: 118px;
    margin-left: 468px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 160px;
    min-height: 79px;
    margin-top: -756px;
    margin-right: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 707px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 265px;
    width: 428px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-2 {
    margin: -33px 0 39px auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 0;
    min-height: 0;
    margin-right: 1387px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 358px;
    margin-left: 1217px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 1217px;
  }

  .u-section-2 .u-image-2 {
    height: 163px;
    width: 298px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-top: 18px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-image-1 {
  width: 995px;
  height: 426px;
  margin: 23px auto 0 73px;
}

.u-section-3 .u-image-2 {
  width: 934px;
  height: 448px;
  margin: -380px auto 0 103px;
}

.u-section-3 .u-group-elements-1 {
  width: 253px;
  min-height: 106px;
  margin: -205px 82px 0 auto;
}

.u-section-3 .u-btn-1 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 0 auto 0 0;
  padding: 0 48px 0 47px;
}

.u-section-3 .u-btn-2 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.625rem;
  margin: 20px auto 0 0;
  padding: 0 69px 0 68px;
}

.u-section-3 .u-group-elements-2 {
  width: 159px;
  min-height: 79px;
  margin: -147px 11px 0 auto;
}

.u-section-3 .u-btn-3 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
  padding: 0 21px 0 19px;
}

.u-section-3 .u-btn-4 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: 11px auto 0 0;
  padding: 0 35px 0 34px;
}

.u-section-3 .u-group-elements-3 {
  width: 71px;
  min-height: 41px;
  margin: 34px 0 0 auto;
}

.u-section-3 .u-btn-5 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 0.625rem;
  margin: 0 auto 0 0;
  padding: 0 7px 0 5px;
}

.u-section-3 .u-btn-6 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -11px auto 0 0;
  padding: 0 14px 0 13px;
}

.u-section-3 .u-group-elements-4 {
  width: 71px;
  min-height: 41px;
  margin: -258px 0 332px auto;
}

.u-section-3 .u-btn-7 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 0.625rem;
  margin: 0 auto 0 0;
  padding: 0 7px 0 5px;
}

.u-section-3 .u-btn-8 {
  font-family: LEMONMILK-Regular;
  border-style: none none solid;
  font-size: 1.25rem;
  margin: -11px auto 0 0;
  padding: 0 14px 0 13px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-image-1 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -391px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-group-elements-1 {
    height: auto;
    margin-top: -185px;
    margin-right: 23px;
  }

  .u-section-3 .u-group-elements-2 {
    height: auto;
    margin-top: -132px;
  }

  .u-section-3 .u-group-elements-3 {
    height: auto;
  }

  .u-section-3 .u-group-elements-4 {
    height: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-image-1 {
    height: 308px;
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 345px;
    margin-top: -308px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: -155px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: 177px;
  }

  .u-section-3 .u-group-elements-4 {
    width: 0;
    min-height: 0;
    margin-top: -797px;
    margin-right: 1476px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 395px;
    margin-left: 1376px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 1376px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    height: 231px;
    margin-top: 49px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 259px;
    margin-top: -259px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 4px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 160px;
    margin-top: -95px;
    margin-right: 13px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-top: 44px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-right: 1296px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-3 .u-image-1 {
    height: 145px;
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 163px;
    width: 340px;
    margin: -128px -9px 10px auto;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-group-elements-4 {
    margin-right: 1096px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 745px;
}

.u-section-4 .u-shape-1 {
  width: 552px;
  height: 581px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 69px 48px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: "04434_BerlinSansFBDemiBold";
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -423px 635px 0 36px;
}

.u-section-4 .u-image-1 {
  width: 151px;
  height: 143px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: -435px auto 0 22px;
}

.u-section-4 .u-image-2 {
  width: 86px;
  height: 86px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -223px auto 0 -11px;
}

.u-section-4 .u-image-3 {
  width: 101px;
  height: 101px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 466px auto 0 0;
}

.u-section-4 .u-image-4 {
  width: 123px;
  height: 103px;
  margin: -66px 14px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 461px;
  height: 619px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -640px 126px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-shape-1 {
    width: 483px;
    height: 483px;
    margin-top: 52px;
    margin-right: 23px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -320px;
    margin-right: 470px;
    margin-left: 1px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -431px;
    margin-left: 36px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -201px;
    margin-left: 6px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 455px;
  }

  .u-section-4 .u-image-4 {
    height: 102px;
    margin-top: -107px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -599px;
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-4 .u-shape-1 {
    width: 390px;
    height: 390px;
    margin-top: 67px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -312px;
    margin-right: 427px;
    margin-left: 27px;
  }

  .u-section-4 .u-image-1 {
    width: 112px;
    height: 106px;
    margin-top: -346px;
    margin-left: 53px;
  }

  .u-section-4 .u-image-2 {
    width: 75px;
    height: 67px;
    margin-top: -146px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 368px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -109px;
    margin-right: -23px;
  }

  .u-section-4 .u-image-5 {
    width: 260px;
    height: 405px;
    margin-top: -465px;
    margin-right: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-4 .u-shape-1 {
    width: 360px;
    height: 332px;
    margin-top: 4px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    width: 310px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -287px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -173px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 267px;
  }

  .u-section-4 .u-image-4 {
    width: 92px;
    height: 77px;
    margin-top: -648px;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    width: 229px;
    height: 322px;
    margin-top: -37px;
    margin-right: auto;
    margin-bottom: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-shape-1 {
    height: 199px;
    width: 257px;
    margin-top: 9px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 71px;
    margin-right: 7px;
    margin-left: 42px;
  }

  .u-section-4 .u-image-1 {
    width: 76px;
    height: 66px;
    margin-top: -155px;
    margin-left: 42px;
  }

  .u-section-4 .u-image-2 {
    width: 54px;
    height: 44px;
    margin-top: -100px;
  }

  .u-section-4 .u-image-3 {
    width: 83px;
    height: 81px;
    margin-top: 154px;
    margin-left: 9px;
  }

  .u-section-4 .u-image-4 {
    width: 59px;
    height: 42px;
    margin-top: -277px;
  }

  .u-section-4 .u-image-5 {
    width: 193px;
    height: 209px;
    margin-top: -209px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/567814530-0.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-line-1 {
  width: 912px;
  margin: 183px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 4.375rem;
  font-family: Alata-Regular;
  margin: 128px auto 0;
}

.u-section-5 .u-text-2 {
  width: 826px;
  font-family: Alata-Regular;
  font-size: 1.875rem;
  margin: 31px auto 0;
}

.u-section-5 .u-line-2 {
  width: 912px;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 175px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-5 .u-line-2 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 73px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 112px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.375rem;
    width: 250px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 18px;
  }

  .u-section-5 .u-line-2 {
    margin-top: 73px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: linear-gradient(white, #f1e8c7);
}

.u-section-6 .u-sheet-1 {
  min-height: 844px;
}

.u-section-6 .u-line-1 {
  transform-origin: center bottom 0px;
  left: 455px;
  top: 95px;
  position: absolute;
  height: 28px;
}

.u-section-6 .u-text-1 {
  font-family: LEMONMILK-Regular;
  font-weight: 700;
  font-size: 2.1875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 84px auto 0 195px;
}

.u-section-6 .u-line-2 {
  width: 78px;
  transform-origin: left center 0px;
  margin: -31px auto 0 377px;
}

.u-section-6 .u-image-1 {
  width: 332px;
  height: 610px;
  margin: 42px 387px 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 98px;
  height: 36px;
  margin: -580px 319px 0 auto;
}

.u-section-6 .u-text-2 {
  font-family: Alata-Regular;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -66px 783px 0 26px;
}

.u-section-6 .u-text-3 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1.5rem;
}

.u-section-6 .u-text-4 {
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-size: 1.25rem;
}

.u-section-6 .u-shape-2 {
  width: 161px;
  height: 33px;
  margin: 78px 210px 0 auto;
}

.u-section-6 .u-shape-3 {
  width: 107px;
  height: 37px;
  margin: 2px auto 0 298px;
}

.u-section-6 .u-text-5 {
  font-family: LEMONMILK-Regular;
  font-weight: 700;
  font-size: 2.1875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -16px 37px 0 auto;
}

.u-section-6 .u-text-6 {
  font-family: LEMONMILK-Regular;
  font-weight: 700;
  font-size: 2.1875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -21px auto 0 224px;
}

.u-section-6 .u-text-7 {
  font-family: Alata-Regular;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -11px 20px 0 828px;
}

.u-section-6 .u-text-8 {
  font-family: Alata-Regular;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -169px 794px 60px 54px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-6 .u-line-1 {
    transform-origin: center top 0px;
    left: 392px;
    top: 57px;
    height: 56px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 39px;
    margin-left: 153px;
  }

  .u-section-6 .u-line-2 {
    margin-top: -18px;
    margin-left: 314px;
  }

  .u-section-6 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 63px;
    margin-right: auto;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -316px;
    margin-right: 206px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: -372px;
    margin-right: 648px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-3 {
    font-family: LEMONMILK-Regular;
    font-weight: 700;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    width: auto;
    margin: -75px 138px 0 auto;
  }

  .u-section-6 .u-text-4 {
    font-family: Alata-Regular;
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    width: auto;
    margin: 8px 12px 0 636px;
  }

  .u-section-6 .u-shape-2 {
    width: 79px;
    height: 34px;
    margin-top: -157px;
    margin-right: 241px;
  }

  .u-section-6 .u-shape-3 {
    margin-top: 181px;
    margin-left: 197px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 58px;
    margin-right: 56px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    font-size: 1.875rem;
    margin-top: -82px;
    margin-left: 150px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: 48px;
    margin-right: 0;
    margin-left: 648px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5625rem;
    width: auto;
    margin-top: -134px;
    margin-right: 700px;
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-6 .u-line-1 {
    transform-origin: center bottom 0px;
    left: 288px;
    top: 86px;
    height: 27px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5625rem;
    margin-top: 77px;
    margin-left: 107px;
  }

  .u-section-6 .u-line-2 {
    width: 53px;
    margin-top: -22px;
    margin-left: 235px;
  }

  .u-section-6 .u-image-1 {
    width: 257px;
    height: 473px;
    margin-top: 19px;
  }

  .u-section-6 .u-shape-1 {
    width: 59px;
    height: 32px;
    margin-top: -247px;
    margin-right: 169px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -257px;
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -78px;
    margin-right: 108px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 505px;
  }

  .u-section-6 .u-shape-2 {
    height: 23px;
    margin-top: -110px;
    margin-right: 136px;
  }

  .u-section-6 .u-shape-3 {
    width: 75px;
    height: 29px;
    margin-top: 121px;
    margin-left: 148px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5625rem;
    margin-top: 45px;
    margin-right: 14px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5625rem;
    margin-top: -63px;
    margin-left: 107px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 35px;
    margin-right: 13px;
    margin-left: 510px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.25rem;
    margin-top: -152px;
    margin-right: 538px;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-6 .u-line-1 {
    transform-origin: center top 0px;
    top: 53px;
    height: 43px;
    left: 206px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 68px;
    margin-left: 78px;
  }

  .u-section-6 .u-line-2 {
    margin-top: -39px;
    margin-left: 153px;
  }

  .u-section-6 .u-image-1 {
    width: 186px;
    height: 341px;
    margin-top: 40px;
    margin-left: 173px;
  }

  .u-section-6 .u-shape-1 {
    width: 42px;
    height: 25px;
    margin-top: -176px;
    margin-right: auto;
    margin-left: 366px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.9375rem;
    margin-top: -194px;
    margin-right: 370px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -111px;
    margin-right: 68px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 7px;
    margin-right: 25px;
    margin-left: 358px;
  }

  .u-section-6 .u-shape-2 {
    width: 57px;
    height: 19px;
    margin-top: -152px;
    margin-right: 160px;
  }

  .u-section-6 .u-shape-3 {
    width: 32px;
    height: 24px;
    margin-top: 123px;
    margin-left: 129px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 46px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
    margin-left: 85px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.9375rem;
    margin-top: 48px;
    margin-right: 17px;
    margin-left: 373px;
  }

  .u-section-6 .u-text-8 {
    font-size: 0.9375rem;
    margin-top: -138px;
    margin-right: 391px;
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-6 .u-line-1 {
    transform: rotate(360deg);
  }

  .u-section-6 .u-text-1 {
    margin-top: 47px;
    margin-left: 58px;
  }

  .u-section-6 .u-line-2 {
    margin-top: -65px;
  }

  .u-section-6 .u-image-1 {
    width: 139px;
    height: 256px;
    margin-top: 194px;
    margin-right: 72px;
    margin-left: auto;
  }

  .u-section-6 .u-shape-1 {
    margin-top: -245px;
    margin-left: 298px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -168px;
    margin-right: 189px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: -100px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 183px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
    margin-left: 190px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 231px;
    margin-left: 0;
  }
}

.u-section-6 .u-text-3,
.u-section-6 .u-text-3:before,
.u-section-6 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-text-4,
.u-section-6 .u-text-4:before,
.u-section-6 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-7 {
  background-image: linear-gradient(#f1e8c7, white);
}

.u-section-7 .u-sheet-1 {
  min-height: 125px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 96px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 654px;
}

.u-section-8 .u-image-1 {
  width: 435px;
  height: 465px;
  filter: brightness(0.95);
  margin: 27px auto 0 277px;
}

.u-section-8 .u-image-2 {
  width: 323px;
  height: 323px;
  background-image: url("images/c44b3ffb3e1399b6f9f709361111fd651b2eca09a40679d0b034a5aefff7f171bffc4bf6eba1c90acd00f419eea36bd73adfc62968454b355b1e76_1280.jpg");
  background-position: 50% 50%;
  margin: -292px auto 0 28px;
}

.u-section-8 .u-image-3 {
  width: 295px;
  height: 495px;
  margin: -424px auto 0 151px;
}

.u-section-8 .u-image-4 {
  width: 132px;
  height: 132px;
  margin: -541px auto 0 307px;
}

.u-section-8 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: -186px auto 0 263px;
}

.u-section-8 .u-text-1 {
  letter-spacing: -4px;
  font-family: OPTINonoy-Ultra;
  font-size: 5rem;
  margin: 63px 27px 0 691px;
}

.u-section-8 .u-text-2 {
  font-family: "04434_BerlinSansFBDemiBold";
  font-size: 2.25rem;
  margin: 0 27px 0 691px;
}

.u-section-8 .u-text-3 {
  font-family: Alata-Regular;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px 25px 60px 693px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-8 .u-image-1 {
    width: 362px;
    height: 405px;
    margin-top: 87px;
    margin-left: 243px;
  }

  .u-section-8 .u-image-2 {
    width: 260px;
    height: 260px;
    margin-top: -272px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 236px;
    height: 396px;
    margin-top: -348px;
    margin-left: 144px;
  }

  .u-section-8 .u-image-4 {
    width: 104px;
    height: 104px;
    margin-top: -441px;
    margin-left: 275px;
  }

  .u-section-8 .u-image-5 {
    width: 60px;
    height: 60px;
    margin-top: -164px;
    margin-left: 265px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 86px;
    margin-right: 56px;
    margin-left: 571px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 38px;
    margin-left: 573px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-right: 60px;
    margin-left: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-8 .u-image-1 {
    width: 234px;
    height: 305px;
    margin-top: 41px;
    margin-left: 198px;
  }

  .u-section-8 .u-image-2 {
    width: 184px;
    height: 184px;
    margin-top: -235px;
    margin-left: 14px;
  }

  .u-section-8 .u-image-3 {
    width: 170px;
    height: 285px;
    margin-top: -235px;
    margin-left: 105px;
  }

  .u-section-8 .u-image-4 {
    width: 72px;
    height: 72px;
    margin-top: -322px;
    margin-left: 222px;
  }

  .u-section-8 .u-image-5 {
    width: 52px;
    height: 52px;
    margin-top: -132px;
    margin-left: 183px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 63px;
    margin-right: 44px;
    margin-left: 432px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5625rem;
    margin-right: 15px;
    margin-left: 432px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 50px;
    margin-bottom: 101px;
    margin-left: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-8 .u-image-1 {
    width: 144px;
    height: 226px;
    margin-top: 26px;
    margin-left: 150px;
  }

  .u-section-8 .u-image-2 {
    width: 135px;
    height: 135px;
    margin-top: -153px;
    margin-left: 16px;
  }

  .u-section-8 .u-image-3 {
    width: 124px;
    height: 208px;
    margin-top: -172px;
    margin-left: 83px;
  }

  .u-section-8 .u-image-4 {
    width: 48px;
    height: 48px;
    margin-top: -235px;
    margin-left: 159px;
  }

  .u-section-8 .u-image-5 {
    width: 34px;
    height: 34px;
    margin-top: -82px;
    margin-left: 128px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.8125rem;
    margin-top: 41px;
    margin-right: 0;
    margin-left: 321px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 321px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 16px;
    margin-bottom: 60px;
    margin-left: 321px;
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-8 .u-image-1 {
    width: 122px;
    height: 158px;
    margin-top: 52px;
    margin-left: 94px;
  }

  .u-section-8 .u-image-2 {
    width: 107px;
    height: 107px;
    margin-top: -116px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 94px;
    height: 158px;
    margin-top: -132px;
    margin-left: 51px;
  }

  .u-section-8 .u-image-4 {
    width: 39px;
    height: 39px;
    margin-top: -178px;
    margin-left: 112px;
  }

  .u-section-8 .u-image-5 {
    width: 23px;
    height: 23px;
    margin-top: -59px;
    margin-left: 94px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 4px;
    margin-right: -50px;
    margin-left: 207px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1rem;
    margin-left: 207px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.8125rem;
    margin-left: 207px;
  }
}@font-face {
  font-family: 'LEMONMILK-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/LEMONMILK-Regular.otf);
}@font-face {
  font-family: '04434_BerlinSansFBDemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/04434_BerlinSansFBDemiBold.ttf);
}@font-face {
  font-family: 'Alata-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Alata-Regular.ttf);
}@font-face {
  font-family: 'OPTINonoy-Ultra';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OPTINonoy-Ultra.otf);
}